<h3 class="text-danger">
	YOUR ACCOUNT IS LOCKED. <br />
	YOUR SHIT IS FOKD <br />
	Please try again after a while.
	Alternatively you may try to <a asp-action="ForgotPassword" asp-controller="Acccounts">Reset</a> your password. <br /><br />
	- Sincerely, the hacker known as 4chan.
</h3>