@model Filminurk.Models.Emails.EmailViewModel
<div>
	<form method="post" enctype="multipart/form-data">

		<div class="form-group row">
			<label asp-for="SendToThisAddress" class="col-sm-2 col-form-label"></label>
			<div class="col-sm-5">
				<input asp-for="SendToThisAddress" class="form-control"/>
			</div>
		</div>	


	</form>
</div>